h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-primary);
	font-weight: 700;
	text-wrap: balance;
}

p {
	line-height: 150%;
	font-size: 16px;
	word-break: break-word;
	hyphens: manual;
	word-wrap: break-word;
	word-spacing: normal;
	text-wrap: pretty;
	white-space: pre-line;
}
